.language1{
    position: relative;
    left:20px;
}
.language2{
    position: relative;
    left:20px;
}
.language3{
    position: relative;
    left:20px;
}
.langatlang{
    position: relative;
    left:40%;
}

.navatuser{
    
}