.reviewcontainer{
    border:1px solid white;
    width:50vw;
    margin-left: 10%;
    margin-top: 10px;
    padding-left: 5px;
    background-color: black;
}
.reviewback:hover{
    color:gray;
    cursor:pointer;
}