/* .tablebody{
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #5092d3, #01101ae8); 
    background: linear-gradient(to right, #2c3e50, #3c9bdb);
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
} */

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td{
    text-align: left 1px;
    box-sizing: border-box;
    color: white;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.815);
}
.table th{
    font-size: larger;
    text-align:left 1px;
    background-color: aqua;
}
.table table,th,td{
    border:1px solid rgb(255, 0, 0);
}

.editicon{
    color: rgb(245, 241, 241)
}
.removeicon{
    color:red
}

.removeicon,.editicon {
    cursor:pointer;
}
.removeicon:hover{
    background-color: gray;
}
.editicon:hover{
    background-color: gray;
}
/* .addicon:hover{
    background-color: transparent;
    border:2px solid #65b5f6;
    border-radius: 4px;
    padding: 2px 12px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.addicon:hover{
    transform: scale(1.1);
}
.reviewicon:hover{
    background-color: transparent;
    border:2px solid #65b5f6;
    border-radius: 4px;
    padding: 2px 12px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.reviewicon:hover{
    transform: scale(1.1);
} */

.reviewbutton{
    padding-top: 5px;
    margin-left: 70%;
}

.tablebody{
    background-color: gray;
    height:100vh;
    width: 100vw;
}
.editicon{
    margin-right: 10px;
}
