.homeimage{
    width:40%;
    height: 40%;
    margin-top: 8%;
}
.homeimage2{
    width:40%;
    height: 40%;
    margin-left: 50px;
}
.homebtn{
    /* padding: 50px; */
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.homebtn:hover{
    transform: scale(1.1);
}

.title1{
    /* margin-left:10px; */
   margin-top: -10px;  
}

.title2{
    /* margin-left:20px; */
   margin-top: -10px;  
}
.homedatas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 80px;
    margin-left: 10px;
    margin-top: 30px;
    padding-bottom: 15px;
    border:3px solid gray;
    border-radius: 10px;
}
.homedatas_text{
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 80px;
}

.homeimage{
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .homeimage:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .hm1{
    height: 320px;
    padding-top: 12px;
    margin-bottom: 6px;
    padding-left: 8px;
    margin-left: 13px;
    /* border:1px solid aqua; */
  }
  .homemovie{
    border:3px solid gray;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 70px;
    margin-top: 15px;
  }
  .homediv{
    background-color: black;
  }

  .hm1{
    /* padding: 50px; */
    transition: transform .2s; /* Animation */
  }
  
  .hm1:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }